@use "src/sass/index" as basics;

.container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  font-size: 9vh;
  line-height: 69px;
  color: basics.$black;
  font-weight: 700;
}

.text {
  color: basics.$black;
  font-size: 4vh;
  line-height: 37px;
  font-weight: 700;
}