$page-background: #f2f9ff;
$white: #ffffff;
$black: #000000;
$lavender: #c1c8e4;
$very-dark-blue: #05319f;
$dark-blue: #5680e9;
$light-blue: #84ceeb;
$medium-blue: #5ab9ea;
$purple: #8860d0;
$red: #ff0033;
$light-yellow: #ffe6b5;
$yellow: #ffb11b;
$button-gradient: linear-gradient(270deg, #8D60CC 0%, #48B9E8 100%);
