@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Finger+Paint&family=Julee&display=swap');

// font-family: 'Comic Neue', cursive;
// font-family: 'Finger Paint', cursive;
// font-family: 'Julee', cursive;

@mixin font($font-style, $font-weight, $font-size, $line-height) {
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}
