@use 'src/sass/index' as basics;

// font-family: 'Comic Neue', cursive;
// font-family: 'Julee', cursive;

.userdata {
  display: flex;
  flex-direction: column;
  width: 750px;
  min-height: 600px;
  margin: 20px 0 auto 0;
  padding: 20px;
}

.datablock {
  display: flex;
  flex-direction: row;
  min-height: 86px;

  &_name {
    width: 100px;
    height: 30px;
    padding-bottom: 10px;
    margin: auto 0 auto 10px;
    font-family: 'Julee', cursive;
    font-weight: 700;
    font-size: 28px;
  }

  &_button {
    outline: none;
    font-family: 'Comic Neue', cursive;
    border: none;
    font-weight: 600;
    font-size: 19px;
    background-color: transparent;
    height: 30px;
    margin: auto 0 auto 20px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      transform: translateY(-2px);
    }
  }

  &_fieldbox {
    margin: auto 0;
  }
}

.datablockbio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 160px;
  margin-top: 30px;

  &_name {
    width: 100px;
    height: 30px;
    margin: 0 0 auto 10px;
    padding-top: 5px;
    font-family: 'Julee', cursive;
    font-weight: 700;
    font-size: 28px;
  }

  &_button {
    outline: none;
    font-family: 'Comic Neue', cursive;
    border: none;
    font-weight: 600;
    font-size: 19px;
    background-color: transparent;
    height: 30px;
    margin: 5px 0 auto 20px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      transform: translateY(-2px);
    }
  }

  &_fieldbox {
    margin: 0 0 auto 0;
    max-height: 1000px;
    transition: max-height 0.25s ease-in;
  }
}

.field_content {
  height: 30px;
  min-width: 450px;
  font-family: 'Comic Neue', cursive;
  font-size: 22px;
  margin-left: 40px;
}

.field_input {
  height: 35px;
  margin-left: 30px;
  min-width: 450px;
  border: none;
  padding-left: 8px;
  font-family: 'Comic Neue', cursive;
  font-size: 22px;
  border: 1px solid #84ceeb;
  border-left: 8px solid #84ceeb;
  border-radius: 6px;
}

.afb {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  min-width: 450px;

  &_date {
    height: 35px !important;
    width: 190px !important;

    background-color: white;
    padding-left: 8px;
    font-family: 'Comic Neue', cursive;
    font-size: 22px !important;
    border: 1px solid #84ceeb !important;
    border-left: 8px solid #84ceeb !important;
    border-radius: 6px !important;
  }

  &_age {
    height: 35px;
    width: 77px;
    margin-right: 40px;
    background-color: white;
    padding-left: 8px;
    font-family: 'Comic Neue', cursive;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #84ceeb;
    border-left: 8px solid #84ceeb;
    border-radius: 6px;
  }

  &_datename {
    font-family: 'Julee', cursive;
    font-weight: 700;
    font-size: 28px;
    margin-right: 10px;
    height: 30px;
  }
}

.field_biocontent {
  padding-left: 8px;
  padding-top: 10px;
  min-height: 126px;
  width: 452px;
  margin: 0px 0px 5px 30px;
  font-family: 'Comic Neue', cursive;
  font-size: 22px;
}

.field_bioinput {
  height: 120px;
  min-width: 452px;
  padding: 0px;
  border: none;
  margin: 0px 0px 5px 30px;
  padding-left: 8px;
  padding-right: 4px;
  padding-top: 10px;
  font-family: 'Comic Neue', cursive;
  font-size: 18px;
  border: 1px solid #84ceeb;
  border-left: 8px solid #84ceeb;
  border-radius: 6px;
}

.hidden {
  display: none;
}

.btnBox {
  display: flex;
  flex-direction: row;
  margin: auto 20px 20px 525px;

  &_btn {
    outline: none;
    cursor: pointer;
    color: #8d60cc;
    background-color: #f2f9ff;
    border: 1px solid #8d60cc;
    height: 35px;
    width: 140px;
    border-radius: 6px;
    font-family: 'Comic Neue', cursive;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;

    &:hover {
      color: #f2f9ff;
      background-color: #8d60cc;
      border: 1px solid #f2f9ff;
    }
  }
}

.btn_inactive {
  color: #343434;
  background-color: gainsboro;
  border: none;
  cursor: default;
  &:hover {
    color: #343434;
    background-color: gainsboro;
    border: none;
  }
}
