@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Finger+Paint&family=Julee&display=swap');
// font-family: 'Comic Neue', cursive;
// font-family: 'Finger Paint', cursive;
// font-family: 'Julee', cursive;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Comic Neue', cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

